@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    min-height: 100hv;
    height: 100%;
    background-color: #0f012eca;
}

.card{
    width: 350px;
    height: 500px;
    border: 1px solid #FFF;
    padding: 15px;
    border-radius: 20px;
    margin: 100px auto;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

img{
   width: 100%;
   height: 100%;
   box-sizing: cover;
   border-radius: 12px;
}

.card--titil{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -350px;
    padding: 40px 20px;
    background-color: #0000006c;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    transition: all .5s linear;
}

.card--titil h2{
    font-size: 25x;
}

.card--titil p{
    font-size: 22px;
}

.card--titil article{
    font-size: 18px;
    margin: 20px auto;
}

.card--titil button{
    width: 150px;
    padding: 10px 20px;
    border:none;
    border-radius: 8px;
}

.card--titil button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.card:hover  .card--titil{
    right: 0;
    transition: all .5s linear;
}